@{
    ViewBag.Title = "Text Analytics - Hackathon 2016";
}
    <table>
        @foreach (var wikiCategoryInfo in ViewBag.AnalysisResult.WikipediaCategories)
        {
        <tr>
            <td>Foo</td>
        </tr>
        }
    </table>
